html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
body{
    height: auto;
    background: url("../img/login/loginBackdrop@2x.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(255, 255, 255, .95)
}
.werp-box{
    width: 430px;
    height: 540px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius:5px;
}
.forgetPassword{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forgetPassword p:first-child{
    font-size: 24px;
    color: #777777;
    font-weight: bold;
    padding-left: 50px;
}
.forgetPassword p:nth-child(2){
    font-size: 14px;
    color: #808DFF;
    width: 64px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background: #F0F0F0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-weight: bold;
    cursor:pointer;
}
.sogoId{
    width: 330px;
    margin: 0 auto;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    padding-top: 50px;
}
.sogoId img{
    width: 22px;
    height: 22px;
    margin-bottom: 20px;
}
.sogoId input{
    margin-left: 15px;
    margin-bottom: 20px;
    outline:none;
    border: none;
    font-size: 16px;
}
.nextStep{
    width: 120px;
    height: 40px;
    margin: 0 auto;
    padding-top: 55px;
}
.nextStep button{
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    background: #808DFF;
    border-radius: 25px;
    cursor:pointer;
}